body{
  padding:0;
  margin:0;
  background: url('bg.png') repeat-x #0A0E12;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height:90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.inline-anchor{
  color: #7ABAF3;
}
.ping-container, .container{
  /*width:615px;*/
  background: url('sp-webtrends_logo_white.png') left center no-repeat;
  background-size: 150px;
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .ping-container, .container{
      background: url('sp-webtrends_logo_white@2x.png') left center no-repeat;
      background-size: 150px;
  }
}
.ping-body-container, .offsetbox{
  border-left:1px solid #90949B;
  min-width:350px;
  margin-left:185px;
  padding: 15px 0px 15px 40px;
}
/* B.Page specific panel widths */
#ui-recoverpassword .panel{
  width:430px;
}
#ui-verify .panel{
  width:430px;
}
#ui-registerverify .panel{
  width:430px;
}
.panel-body p{
  font-size:12px;
}
/* E.Page specific panel widths */
h3.panel-title{
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight:600;
}
form{
  box-sizing : border-box;
}
form p{
  font-size:12px;
}
label, .ping-input-label{
  display:block;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 17px;
  margin-bottom:3px;
}
input[type="text"], input[type="password"], input[type="email"]{
  background-image: linear-gradient(-180deg, #E4E4E4 0%, #E9E9E9 100%);
  border: 1px solid #B9B9B9;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.55);
  border-radius: 3px;
  width:100%;
  margin-bottom:26px;
  padding:8px 12px 8px 12px;
  box-sizing : border-box;
}
input[readonly]{
  background-color: #AFAFAF;
  background-image: none;
  color: #383838;
  cursor: not-allowed;
}
.smalltext{
  font-size: 10px;
  color: #8A8F94;
  line-height: 28px;
}
.smalltext a{
  color:#8A8F94;
}
#footer{
  position: absolute;
  bottom:0px;
  width: 100vw;
  text-align: center;
  left:0px;
}
.ping-buttons, .buttonwrap{
  padding-top:10px;
}
.ping-buttons a.normal, a.normal, button, input[type="submit"]{
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.50);
  -webkit-text-shadow: 0px -1px 1px rgba(0,0,0,0.50);
  height: 28px;
  box-shadow: 0px 1px 0px 0px #000000, inset 0px 1px 0px 0px rgba(255,255,255,0.57);
  border-radius: 3px;
  white-space: nowrap;
  text-decoration: none;
  margin-right:18px;
}
.ping-buttons a.normal, .btn-primary{
  background-image: linear-gradient(-180deg, #319CD0 0%, #2B7CA3 100%);
  border: 1px solid #2B7EA5;
}
.ping-buttons a.normal:hover, .btn-primary:hover{
  background-image: linear-gradient(0deg, #319CD0 0%, #2B7CA3 100%);
}
.btn-secondary{
  background-image: linear-gradient(-180deg, #738da1 0%, #5a7387 100%);
  border: 1px solid #5a7387;
}
.btn-secondary:hover{
  background-image: linear-gradient(0deg, #738da1 0%, #5a7387 100%);
}
.ping-buttons a.blue{
  background-image: none;
  border: 0px;
  color:#8A8F94;
  font-weight:normal;
  text-shadow: none;
  box-shadow: none;
}
.btn-cancel{
  color:#8A8F94;
  font-size:12px;
  text-decoration: none;
}
.btn-cancel:hover{
  text-decoration: underline;
}
.ping-buttons a.blue:hover{
  text-decoration: underline;
}
.alertbox, .ping-messages, #errorAlerts{
  font-size:12px;
  margin-bottom:20px;
  max-width: 515px;
}
.alertbox button, #errorAlerts button, .alert-success button{
  display:none;
}
.alertbox .alert-danger, .ping-error, #errorAlerts .alert{
  padding: 10px 15px;
  background-color: #f3cece;
  color: #ce3535;
  border-radius: 3px;
}
.alert-danger ul{
  padding-left: 16px;
}
.alert-success{
  padding: 10px;
  background-color: #DFFFE4;
  color: #0F5416;
  border-radius: 3px;
}
#mobilephone, .hideme{
  display:none;
}
.formflex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.formflex-left{
  width:250px;
}
.formflex-right{
  width:250px;
  margin-left: 15px;
}
#password_requirements_list{
  font-size: 11px;
  color: #e5e5e5;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /*padding: 10px 20px 20px 15px;*/
  max-height: 215px;
  overflow-y:auto;
  padding-bottom: 5px;
}
#prl-header{
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  opacity: 0.5;
}
#password_requirements_list ul{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  margin-bottom: 5px;
}
#password_requirements_list li{
  margin: 0;
  padding: 0px 0px 0px 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid rgba(255,255,255,0.2);
}
#account-wrap{
  min-height:275px;
}
#account-note{
  opacity: 0.45;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
#account-search input{
  width: 310px;
  margin-bottom: 20px;
}
#account-list{
  list-style: none;
  margin:0;
  padding:0;
  max-height: 650px;
  overflow: auto;
}
#account-list li{
  font-size:14px;
  line-height: 35px;
  box-shadow: 0px 1px 0px 0px #000000, 0px 2px 0px 0px #2D353E;
  width:300px;
  padding-left:10px;
}
#account-list li:hover{
  cursor: pointer;
  text-decoration: underline;
}
#account-list li:focus{
  outline:0;
  background-color: #377490;
}
